<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proxynt</title>
  <script src="{{ static_url('js/axios.min.js') }}"></script>
  <script src="{{ static_url('js/vue.min.js') }}"></script>
  <script src="{{ static_url('js/index.js') }}"></script> <!--element js-->
  <link href="{{ static_url('css/index.css') }}" rel="stylesheet">  <!--element ui-->
  <!-- 引入样式 -->
<!--  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">-->

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->
</head>
<body>
{% block nav %}
<!--<nav class="navbar navbar-expand-lg bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--  </div>-->
<!--</nav>-->
{% end %}
<div class="container">

{% block body%}
<br>
this is base
{% end %}
</div>
{% block js %}{% end %}
</body>
</html>
