[Unit]
Description=nat_traversal client
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/nt_client -c /etc/nt/config_c.json

[Install]
WantedBy=multi-user.target
