[Unit]
Description=nat_traversal server
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/nt_server -c /etc/nt/config_s.json

[Install]
WantedBy=multi-user.target
